.d3-diagram {
	position:absolute;
	right: 20px;
	bottom: 65px;
	width: 500px;
	height: 200px;
	border:1px solid #ccc;
	background:#f0f0f0;
}

#map {
    /* set size via JS */
    cursor: default;
    width:100%;
    height:100%;
    left:0;
    top:0;
    position:fixed;
}

#modules {
    position:absolute;
    width:300px;
    left:10px;
    top:100px;
    z-index:100;
    background:#fff;
    overflow:hidden;
    /*padding-right: 15px; */
    -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.33);
    box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.33);
}

.module .header {
	margin:0;
	font-size:1em;
	line-height:1.4em;
    background:#eee;
    cursor:pointer;
    padding:0.4em;
    border-bottom:solid 1px #ccc;
    font-weight:bold;
}
.module .content {
    padding:0.4em;
    margin:0.5em 0;
}

#modules form,
#modules input {
    margin:0;
}

#measurement-files li {
    cursor: pointer;
}

#input {
	/* override for Graphhopper styles */
	margin:0;
	padding:0;
	float:none;
}

#vehicle-status {
	display:none;
	position:absolute;
	left:10px;
	bottom:50px;
	width:200px;
	min-height:100px;
	background:#fff;
	z-index:100;
	-webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.33);
	box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.33);
}

.box h2 {
	font-size:1em;
	font-weight:bold;
	line-height:1.4em;
	padding:0.4em;
	border-bottom:solid 1px #ccc;
	margin: 0 0 0.4em;
}

#searchButton {
  float:none;
  cursor: pointer;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
